<app-headbar></app-headbar>
<div>
    <video autoplay loop muted plays-inline>
        <source src="../../../assets/video/paragon.mp4" type="video/mp4" />
    </video>
    <div class="video-overlay">
        <h1 class="text">Bienvenue à Paragon, l'endroit idéal pour célébrer tous vos événements spéciaux.</h1>
        <h2>Un endroit unique pour des événements uniques</h2>
        <button class="learn-more">
            <span class="circle" aria-hidden="true">
                <span class="icon arrow"></span>
            </span>
            <span class="button-text">Réserver</span>
        </button>
    </div>
</div>
<div class="story">
    <h3>Notre histoire</h3>
    <p>
        Bienvenue à Paragon, l'endroit d'exception pour célébrer tous vos événements spéciaux. Située au cœur de Laval, notre salle de réception
        rénovée et transformée offre une expérience unique où vos rêves prennent vie. Avec plus de 25 ans d'expertise dans l'organisation
        d'événements, nous vous offrons un service impeccable et professionnel pour votre mariage, vos fiançailles, un baptême, un anniversaire
        mémorable ou vos fonctions corporatives. Nos trois salles grandioses, pouvant accueillir jusqu'à 600 personnes, sont conçues avec soin et
        chaque détail est orchestré pour rendre votre réception inoubliable. Chez Paragon, nous créons une atmosphère féérique qui dépasse vos
        attentes, avec un décor somptueux, une gastronomie raffinée et une ambiance enchantée. Faites confiance à notre équipe expérimentée pour
        réaliser vos souhaits les plus précieux et créer des souvenirs magiques lors de votre événement spécial. Bienvenue à Paragon, votre
        destination exclusive pour des événements spéciaux d'exception.
    </p>
</div>
<div class="reasons">
    <h3>Pourquoi Paragon est spécial</h3>
    <div class="reasons-container">
        <div id="reason1">
            <mat-icon class="icon"
                ><svg xmlns="http://www.w3.org/2000/svg" width="80" height="80" viewBox="0 0 24 24">
                    <path
                        d="M19.5 10c-2.483 0-4.5 2.015-4.5 4.5s2.017 4.5 4.5 4.5 4.5-2.015 4.5-4.5-2.017-4.5-4.5-4.5zm2.5 5h-2v2h-1v-2h-2v-1h2v-2h1v2h2v1zm-6.527 4.593c-1.108 1.086-2.275 2.219-3.473 3.407-6.43-6.381-12-11.147-12-15.808 0-4.005 3.098-6.192 6.281-6.192 2.197 0 4.434 1.042 5.719 3.248 1.279-2.195 3.521-3.238 5.726-3.238 3.177 0 6.274 2.171 6.274 6.182 0 .746-.156 1.496-.423 2.253-.527-.427-1.124-.768-1.769-1.014.122-.425.192-.839.192-1.239 0-2.873-2.216-4.182-4.274-4.182-3.257 0-4.976 3.475-5.726 5.021-.747-1.54-2.484-5.03-5.72-5.031-2.315-.001-4.28 1.516-4.28 4.192 0 3.442 4.742 7.85 10 13l2.109-2.064c.376.557.839 1.048 1.364 1.465z"
                    />
                </svg>
            </mat-icon>
            <p class="reason-title">Expérience inégalée</p>
            <p class="reason-content">
                Paragon offre plus de 25 ans d'expérience dans l'organisation d'événements, assurant un service impeccable et professionnel.
            </p>
        </div>
        <div id="reason2">
            <mat-icon class="icon"
                ><svg xmlns="http://www.w3.org/2000/svg" width="60" height="60" viewBox="0 0 24 24">
                    <path
                        d="M4.908 2.081l-2.828 2.828 19.092 19.091 2.828-2.828-19.092-19.091zm2.121 6.363l-3.535-3.535 1.414-1.414 3.535 3.535-1.414 1.414zm1.731-5.845c1.232.376 2.197 1.341 2.572 2.573.377-1.232 1.342-2.197 2.573-2.573-1.231-.376-2.196-1.34-2.573-2.573-.375 1.232-1.34 2.197-2.572 2.573zm-5.348 6.954c-.498 1.635-1.777 2.914-3.412 3.413 1.635.499 2.914 1.777 3.412 3.411.499-1.634 1.778-2.913 3.412-3.411-1.634-.5-2.913-1.778-3.412-3.413zm9.553-3.165c.872.266 1.553.948 1.819 1.82.266-.872.948-1.554 1.819-1.82-.871-.266-1.553-.948-1.819-1.82-.266.871-.948 1.554-1.819 1.82zm4.426-6.388c-.303.994-1.082 1.772-2.075 2.076.995.304 1.772 1.082 2.077 2.077.303-.994 1.082-1.772 2.074-2.077-.992-.303-1.772-1.082-2.076-2.076z"
                    /></svg
            ></mat-icon>
            <p class="reason-title">Lieu magique et personnalisé</p>
            <p class="reason-content">
                Paragon transforme sa salle de réception en un lieu féérique où vos rêves prennent vie grâce à un décor somptueux et une ambiance
                enchantée.
            </p>
        </div>
        <div id="reason3">
            <mat-icon class="icon"
                ><svg width="80px" height="80px" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <path
                        d="M15.3909 5.21L16.8009 8.02999C16.9909 8.41999 17.5009 8.78999 17.9309 8.86999L20.4809 9.28999C22.1109 9.55999 22.4909 10.74 21.3209 11.92L19.3309 13.91C19.0009 14.24 18.8109 14.89 18.9209 15.36L19.4909 17.82C19.9409 19.76 18.9009 20.52 17.1909 19.5L14.8009 18.08C14.3709 17.82 13.6509 17.82 13.2209 18.08L10.8309 19.5C9.12091 20.51 8.08093 19.76 8.53093 17.82L9.10093 15.36C9.21093 14.9 9.02093 14.25 8.69093 13.91L6.70094 11.92C5.53094 10.75 5.91094 9.56999 7.54094 9.28999L10.0909 8.86999C10.5209 8.79999 11.0309 8.41999 11.2209 8.02999L12.6309 5.21C13.3809 3.68 14.6209 3.68 15.3909 5.21Z"
                        stroke="#292D32"
                        stroke-width="1.5"
                        stroke-linecap="round"
                        stroke-linejoin="round"
                    />
                    <path opacity="0.4" d="M8 5H2" stroke="#292D32" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round" />
                    <path opacity="0.4" d="M5 19H2" stroke="#292D32" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round" />
                    <path opacity="0.4" d="M3 12H2" stroke="#292D32" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round" />
                </svg>
            </mat-icon>
            <p class="reason-title">Service complet et commodités</p>
            <p class="reason-content">
                Paragon propose des forfaits tout compris comprenant la location de salles, la décoration et tous les éléments nécessaires pour
                simplifier votre événement spécial.
            </p>
        </div>
    </div>
</div>
<div class="pictures">
    <img id="pic1" src="../../../assets/images/salle/IMG_9.jpeg" />
    <img id="pic2" src="../../../assets/images/salle/IMG_8.jpeg" />
    <img id="pic3" src="../../../assets/images/salle/IMG_5.jpeg" />
    <img id="pic4" src="../../../assets/images/salle/IMG_4.jpeg" />
</div>
<div class="testimonials">
    <iframe src="https://sandbox.elfsightcdn.com/da5fdaca-29e0-4836-aedf-f8b388295b82" width="100%" height="550" frameborder="0"></iframe>
</div>
<div id="map">
    <iframe
        src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2793.8206478553448!2d-73.76356328687233!3d45.55393337095491!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x4cc923bd340a574b%3A0x44ec5a26c9fc0cc1!2s1833%20Bd%20du%20Cur%C3%A9-Labelle%2C%20Laval%2C%20QC%20H7T%201K6!5e0!3m2!1sen!2sca!4v1686615744593!5m2!1sen!2sca"
        width="100%"
        height="350"
        style="border: 0"
        allowfullscreen=""
        loading="lazy"
        referrerpolicy="no-referrer-when-downgrade"
    ></iframe>
</div>

<app-bottom-bar> </app-bottom-bar>
