<div id="grid-container">
    <div id="entry">
        <h1>Entrées</h1>
        <p>Soupe</p>
        <p>Salade</p>
        <div class="flex-row">
            <p>Pâtes</p>
            <p class="note-text">2 choix de pâtes</p>
        </div>
    </div>
    <div id="main-course">
        <h1>Plats principaux</h1>
        <p>Poitrine de poulet grillée</p>
        <p>Rôti de bœuf français</p>
        <p>Tournedos de Poulet ou boeuf</p>
        <p>Filet de saumon</p>
        <p>Entrecôte</p>
        <p>Rôti de boeuf au jus</p>
        <p>Spencer steak</p>
        <p>Médaillon de filet mignon</p>
        <p>Veau</p>
        <p class="note-text">Accompagné de pomme de terre, riz et légumes</p>
    </div>
    <div id="dessert">
        <h1>Station de Desserts</h1>
        <p>Variété de fruits tropicaux</p>
        <p>Trempette de chocolat</p>
        <p>Minis pâtisseries et Variété de gâteaux</p>
    </div>
    <div id="drinks">
        <h1>Boissons</h1>
        <p>Punch</p>
        <p>Toast champagne</p>
        <p>Bar standard ouvert toute la soirée</p>
        <p class="note-text">Café et thé à volonté</p>
    </div>
    <div id="other">
        <h1>Autre</h1>
        <p>Canapés</p>
        <p>Hors d'oeuvres</p>
        <p>Décoration de base incluse</p>
    </div>
    <div id="price">
        <h1>114,99$ par personne</h1>
    </div>
</div>
