<app-headbar></app-headbar>

<img id="pic1" src="../../../assets/images/salle/IMG_11.jpeg" />

<head>
    <link rel="preconnect" href="https://fonts.gstatic.com" />
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@300;700&display=swap" rel="stylesheet" />
</head>

<div class="container">
    <h1>Foire aux questions</h1>

    <div class="faq-drawer">
        <input class="faq-drawer__trigger" id="faq-drawer" type="checkbox" /><label class="faq-drawer__title" for="faq-drawer"
            >Qu'est-ce qui est inclus dans le prix des forfaits proposés par Paragon ?
        </label>
        <div class="faq-drawer__content-wrapper">
            <div class="faq-drawer__content">
                <p>
                    Les forfaits chez Paragon comprennent la location de salles spacieuses, tables élégantes, chaises confortables, couvertures de
                    tables et de chaises assorties, serviettes à main de qualité, ainsi que des ustensiles et des verres. De plus, nos salles sont
                    décorées avec soin pour créer une ambiance exceptionnelle. Cependant, tout ajout supplémentaire est laissé à la discrétion de
                    chaque client pour personnaliser leur événement selon leurs préférences. Veuillez noter que les prix mentionnés sont sujets à
                    changement sans préavis afin de garantir une expérience de qualité.
                </p>
            </div>
        </div>
    </div>

    <div class="faq-drawer">
        <input class="faq-drawer__trigger" id="faq-drawer-2" type="checkbox" /><label class="faq-drawer__title" for="faq-drawer-2"
            >Quelles sont les conditions de réservation chez Paragon ?</label
        >
        <div class="faq-drawer__content-wrapper">
            <div class="faq-drawer__content">
                <p>
                    Pour effectuer une réservation chez Paragon, un nombre minimal d'invités est requis. De plus, un dépôt est nécessaire, soit un
                    montant minimum de 800.00$ ou 10% du prix total. Veuillez noter que ce dépôt est non remboursable en cas d'annulation du contrat.
                    Ces conditions sont mises en place pour assurer la disponibilité des services et la planification adéquate de votre événement.
                </p>
            </div>
        </div>
    </div>

    <div class="faq-drawer">
        <input class="faq-drawer__trigger" id="faq-drawer-3" type="checkbox" /><label class="faq-drawer__title" for="faq-drawer-3"
            >Quelles sont les options de salle disponibles en fonction du nombre d'invités ?</label
        >
        <div class="faq-drawer__content-wrapper">
            <div class="faq-drawer__content">
                <p>
                    Nous offrons à nos clients la possibilité de choisir parmi différentes salles en fonction du nombre d'invités. La Direction se
                    réserve le droit de vous offrir la salle la plus adaptée à votre événement en tenant compte du nombre d'invités. Ainsi, vous
                    pouvez profiter d'un espace confortable et adapté à vos besoins.
                </p>
            </div>
        </div>
    </div>

    <div class="faq-drawer">
        <input class="faq-drawer__trigger" id="faq-drawer-4" type="checkbox" /><label class="faq-drawer__title" for="faq-drawer-4"
            >Jusqu'à quelle heure puis-je profiter de la salle après avoir effectué une réservation ?</label
        >
        <div class="faq-drawer__content-wrapper">
            <div class="faq-drawer__content">
                <p>
                    Après avoir effectué une réservation, vous pourrez profiter de la salle jusqu'à 3h du matin. Nous vous offrons cette plage horaire
                    pour que vous puissiez profiter pleinement de votre événement et célébrer jusqu'aux premières heures de la matinée. Nous vous
                    invitons à planifier votre événement en conséquence pour profiter de chaque instant dans notre espace.
                </p>
            </div>
        </div>
    </div>

    <div class="faq-drawer">
        <input class="faq-drawer__trigger" id="faq-drawer-5" type="checkbox" /><label class="faq-drawer__title" for="faq-drawer-5"
            >Quelles sont les règles concernant la musique et les systèmes sonores dans la salle de réception Paragon ?</label
        >
        <div class="faq-drawer__content-wrapper">
            <div class="faq-drawer__content">
                <p>
                    Nous laissons la décision concernant la musique et les systèmes sonores à la discrétion de nos clients. Vous avez la liberté de
                    choisir le type de musique que vous souhaitez diffuser lors de votre événement. Cependant, veuillez noter que la responsabilité de
                    l'obtention des licences nécessaires pour l'exécution de musique et/ou de danse incombe entièrement au client. La Salle de
                    Réception Paragon décline toute responsabilité en cas de charges ou de problèmes juridiques liés aux licences musicales. Nous vous
                    encourageons à vous conformer aux lois et réglementations en vigueur pour garantir une expérience sans souci lors de votre
                    événement.
                </p>
            </div>
        </div>
    </div>

    <div class="faq-drawer">
        <input class="faq-drawer__trigger" id="faq-drawer-6" type="checkbox" /><label class="faq-drawer__title" for="faq-drawer-6"
            >Est-il autorisé d'apporter des boissons alcoolisées dans la salle de réception Paragon ?</label
        >
        <div class="faq-drawer__content-wrapper">
            <div class="faq-drawer__content">
                <p>
                    Non, il est strictement interdit d'apporter des boissons alcoolisées dans la salle de réception Paragon, même sous forme de
                    cadeau. Nous avons une politique de non-permission d'alcool apporté par les clients pour assurer la conformité aux réglementations
                    en vigueur et garantir la sécurité de tous les participants à l'événement. Nous proposons des options de boissons et de services
                    de bar qui peuvent être adaptées à vos besoins. Notre équipe se fera un plaisir de vous aider à choisir parmi notre sélection de
                    boissons pour rendre votre événement mémorable.
                </p>
            </div>
        </div>
    </div>

    <div class="faq-drawer">
        <input class="faq-drawer__trigger" id="faq-drawer-7" type="checkbox" /><label class="faq-drawer__title" for="faq-drawer-7"
            >Qui est responsable des objets laissés ou perdus dans la salle de réception Paragon ?</label
        >
        <div class="faq-drawer__content-wrapper">
            <div class="faq-drawer__content">
                <p>
                    La Salle de Réception Paragon n'est pas responsable de tout objet laissé ou perdu par le ou les clients, ni par les fournisseurs.
                    Il est de la responsabilité des clients et des fournisseurs de veiller à leurs biens personnels et à les conserver en sécurité
                    pendant leur présence dans nos installations. Nous recommandons aux clients de garder un œil attentif sur leurs effets personnels
                    et de prendre les précautions nécessaires pour éviter toute perte ou oubli. En cas de perte, nous vous encourageons à nous
                    contacter immédiatement afin que nous puissions vous aider dans la mesure du possible, mais veuillez noter que nous ne pouvons
                    garantir la récupération des objets perdus.
                </p>
            </div>
        </div>
    </div>

    <div class="faq-drawer">
        <input class="faq-drawer__trigger" id="faq-drawer-8" type="checkbox" /><label class="faq-drawer__title" for="faq-drawer-8"
            >Y a-t-il un parking disponible à la Salle de Réception Paragon ?</label
        >
        <div class="faq-drawer__content-wrapper">
            <div class="faq-drawer__content">
                <p>
                    Oui, nous disposons d'un parking sur place pour nos clients. Le stationnement est gratuit et sécurisé pendant la durée de votre
                    événement
                </p>
            </div>
        </div>
    </div>

    <div class="faq-drawer">
        <input class="faq-drawer__trigger" id="faq-drawer-9" type="checkbox" /><label class="faq-drawer__title" for="faq-drawer-9"
            >Proposez-vous des services de décoration pour les événements ?</label
        >
        <div class="faq-drawer__content-wrapper">
            <div class="faq-drawer__content">
                <p>
                    Oui, nous offrons des services de décoration pour les événements. Notre équipe expérimentée peut vous aider à créer l'ambiance
                    souhaitée pour votre événement. Veuillez nous contacter pour discuter de vos besoins spécifiques.
                </p>
            </div>
        </div>
    </div>

    <div class="faq-drawer">
        <input class="faq-drawer__trigger" id="faq-drawer-10" type="checkbox" /><label class="faq-drawer__title" for="faq-drawer-10"
            >Pouvons-nous visiter les installations de la Salle de Réception Paragon avant de réserver ?</label
        >
        <div class="faq-drawer__content-wrapper">
            <div class="faq-drawer__content">
                <p>
                    Oui, nous encourageons les clients à planifier une visite des installations avant de réserver. Cela vous permettra de voir nos
                    espaces, de discuter de vos besoins spécifiques et de poser toutes les questions que vous pourriez avoir.
                </p>
            </div>
        </div>
    </div>

    <div class="faq-drawer">
        <input class="faq-drawer__trigger" id="faq-drawer-11" type="checkbox" /><label class="faq-drawer__title" for="faq-drawer-11"
            >Quelles sont les options de paiement acceptées par la Salle de Réception Paragon ?</label
        >
        <div class="faq-drawer__content-wrapper">
            <div class="faq-drawer__content">
                <p>
                    Nous acceptons les paiements en espèces, par carte de crédit et par virement bancaire. Veuillez noter que certains modes de
                    paiement peuvent être soumis à des frais supplémentaires.
                </p>
            </div>
        </div>
    </div>
</div>

<app-bottom-bar> </app-bottom-bar>
