<div id="grid-container">
    <div id="entry">
        <h1>Entrées</h1>
        <p>Soupe</p>
        <p>Salade</p>
    </div>
    <div id="main-course">
        <h1>Plats principaux</h1>
        <p>Poitrine de poulet grillée</p>
        <p>Rôti de bœuf français</p>
        <p>Filet de porc</p>
        <p>Boeuf bourguignon</p>
        <p>Filet de saumon</p>
        <p class="note-text">Accompagné de pomme de terre, riz et légumes</p>
    </div>
    <div id="dessert">
        <h1>Dessert</h1>
    </div>
    <div id="drinks">
        <h1>Boissons</h1>
        <p>Punch</p>
        <p>Toast champagne</p>
        <p>Café</p>
        <p>Thé</p>
        <p>2 bouteilles de vin par table</p>
        <p class="note-text">Boissons gazeuses et jus à volonté lors du repas</p>
    </div>
    <div id="other">
        <h1>Autre</h1>
        <p>Canapés</p>
        <p>Hors d'oeuvres</p>
        <p>Décoration de base incluse</p>
    </div>
    <div id="additional">
        <h1>Additionnel</h1>
        <div class="additional-item-container">
            <p>Rib steak, Prime rib, Spencer steak, Médaillon filet mignon, Veau</p>
            <p>7,00 $</p>
        </div>
        <div class="additional-item-container">
            <p>3 Crevettes papillon</p>
            <p>7,00 $</p>
        </div>
        <div class="additional-item-container">
            <p>2 Scampis</p>
            <p>7,50 $</p>
        </div>
        <div class="additional-item-container">
            <p>Station de dessert</p>
            <p>5,00 $</p>
        </div>
        <div class="additional-item-container">
            <p>Vin à volonté pendant le repas</p>
            <p>6,00 $</p>
        </div>
        <p class="note-text">Forfait sans alcool disponible sur demande</p>
        <p class="note-text">Menus Hallal disponible</p>
    </div>
    <div id="price">
        <h1>79,99$ par personne</h1>
    </div>
</div>
